.ece{
    color:black;
    margin-top: 150px;
    margin-right: 100px;
    margin-left: 100px;
}

@media only screen and (max-width: 414px) {
    .ece{
     margin-top: 80px ! important;
     margin-right:-38px !important;
     margin-left: -4px !important;
    }
    .box{
      margin-top: 0px !important;
    }
  }